Repository IMSGlobal/openbadges-specification, pull requests merged in 2022-04, with the labels that each got.

#385 Define OpenBadgeCredential and AchievementCredential
  ob_v3p0/context.json
Labels: 3p0, clr20, candidate_final

#370 Remove video review from conformance testing.
  ob_v3p0/certification.md
Labels: 3p0, candidate_final

#361 Update overview.md
  ob_v3p0/overview.md
Labels: 3p0, candidate_final

#387 Add Linked Data Proof with Ed25519 Signature
  ob_v3p0/api.html
  ob_v3p0/datamodel.html
  ob_v3p0/integrity.md
  ob_v3p0/ob_v3p0.html
  ob_v3p0/respec-support/local-biblio.js
  ob_v3p0/vc-extensions.html
  ob_v3p0/verification.md
Labels: 2p0, 3p0, candidate_final

#388 Errata: update example and description of 'version' field in manifest for v2p1
  ob_v2p1/ob-spec-v2p1.html
Labels: Errata, 2p1

#359 Update abstract/terminology
  ob_v3p0/abstract.md
  ob_v3p0/introduction.md
Labels: 3p0, candidate_final

#398 Use CLR10 style endorsement support to exchange endorsements
  ob_v3p0/common_credentials.lines
Labels: 3p0, clr20, candidate_final, Discussion Required

#391 Add name, description, and image to AssertionCredential
  ob_v3p0/common_credentials.lines
Labels: 3p0, candidate_final, Discussion Required

#403 Rename assertion credential 2
  ob_v3p0/certification.md
  ob_v3p0/common_credentials.lines
  ob_v3p0/datamodel.html
  ob_v3p0/docformat.md
  ob_v3p0/examples.html
  ob_v3p0/integrity.md
  ob_v3p0/ob_v3p0.lines
  ob_v3p0/overview.md
  ob_v3p0/readme.md
  ob_v3p0/serialization.md
Labels: 3p0, clr20, candidate_final

#395 Change "Subject has `recipient`" to "Subject has `identifier`"
  ob_v3p0/common_credentials.lines
Labels: 3p0, clr20, candidate_final

#394 Remove Achievement.level
  ob_v3p0/common_credentials.lines
Labels: 3p0, candidate_final
